@tailwind base;
@tailwind components;
@tailwind utilities;

.gradinent-text {
  font-size: 72px;
  background: linear-gradient(to right, rgb(144, 0, 255), rgb(0, 60, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: normal;
}

.bg-image {
  background-image: url(/src/images/bg-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
